.PostHolder {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(30%);
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
}

.main,
.link,
.h3 {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 1.5em;
  box-shadow: 1px 1px 5px;
  background-color: white;
}

.h3 {
  text-align: center;
}

.link {
  height: 5em;
  background-color: white;
}

.content {
  background-color: rgba(0, 0, 0, 0.22);
  position: relative;
}

.content p {
  max-width: 12.5em;
  margin: 0;
  padding: 0;
  margin-left: 0.75em;
  margin-right: 0.75em;
  font-size: 1.5vmax;
  position: absolute;
  top: 0%;
  color: cadetblue;
  white-space: normal;
}

.header {
  text-align: center;
  width: 100vw;
  box-shadow: 1px 1px 0px;
  margin: 0;
  padding: 0.5em;
  background-color: cadetblue;
}

.divMainHolder {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 20% 80%;
}

.catHolder {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100%;
  color: white;
}

.catHolder > [active="true"] {
  color: gold;
}
