.PostHolder {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
}

.main,
.link,
.h3 {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 1.5em;
  box-shadow: 1px 1px 5px;
  background-color: white;
}

.h3 {
  text-align: center;
}

.link {
  height: 5em;
  background-color: white;
}

.content {
  background-color: rgba(0, 0, 0, 0.22);
  position: relative;
}

.content p {
  max-width: 12.5em;
  margin: 0;
  padding: 0;
  margin-left: 0.75em;
  margin-right: 0.75em;
  font-size: 3.65vw;
  position: absolute;
  top: 0%;
  color: rgba(100, 100, 100);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  white-space: normal;
  overflow: hidden;
}

.header {
  text-align: center;
  width: 100vw;
  box-shadow: 1px 1px 0px;
  margin: 0;
  padding: 0.5em;
  background-color: rgb(255, 255, 255);
}

.divMainHolder {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 10% 90%;
}

.catHolder {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
  height: 100%;
  text-align: center;
  padding: 0.5em;
  border: 1px solid black;
  box-shadow: 1px 1px 1px;
}

.catHolder > [active="true"] {
  color: darkorchid;
}

.img {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
